.app-container {
  font-family: 'Segoe UI', sans-serif;
  padding: 10px;
  background: #f9faff;
  min-height: 100vh;
}


.app-header {
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(to right, #c6d4ff, #b19cd9);
  color: #000;
  border-radius: 12px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 20px;
}

.map-section {
  height: 600px;
}
