.top-toggle-container-left {
  display: flex;
  gap: 20px;
  margin: 20px 0 10px 40px; /* LEFT SIDE */
}

.toggle-nav-btn {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 20px;
  background: #f0f0f0;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease;
}

.toggle-nav-btn:hover {
  background: #ddd;
}

.toggle-nav-btn.active {
  background: linear-gradient(to right, #ff4d6d, #7b2ff7);
  color: white;
}
